---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import BlogLayout from "../layouts/BlogLayout.astro";
import type { BlogPost } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
});
---

<BlogLayout title="Cadiz Resiste | Blog">
    <main>
        <h3>Publicaciones</h3>
        {
            entries.items.map((item) => (
                <section>
                    <h2>{item.fields.title}</h2>
                    <article
                        set:html={documentToHtmlString(item.fields.content)}
                    />
                </section>
            ))
        }
    </main>
</BlogLayout>
