---
import "../styles/common.scss";

import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../lib/contentful";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";

const postEntries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
});
---

<MainLayout title="Cadiz Resiste | Blog">
    <main>
        <div class="mobile-frame">
            <h3>Publicaciones</h3>
            {
                postEntries.items.map((item) => (
                    <section>
                        <h2>{item.fields.title}</h2>
                        <article
                            set:html={documentToHtmlString(item.fields.content)}
                        />
                    </section>
                ))
            }
        </div>
    </main>

</MainLayout>
