---
import "../styles/common.scss";

import { contentfulClient } from "../lib/contentful";

import type { BlogPost } from "../lib/contentful";
import { type Asset } from 'contentful'
import MainLayout from "../layouts/MainLayout.astro";
import BlogPostCard from "../components/Blog/BlogPostCard.astro";


const postEntries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
});

---

<MainLayout title="Cadiz Resiste | Blog">
    <main>
        <div class="mobile-frame">
            <h3>Publicaciones</h3>

            <div class="latest-published">
                {
                    postEntries.items.map(post => (
                        <BlogPostCard post={post} />
                    ))
                }
            </div>
        </div>
    </main>

</MainLayout>
