---
import CadizSkyLineIcon from "../components/Icons/CadizSkyLineIcon.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Cadiz Resiste | Inicio">
    <main>
        <div id="other-component" class="other-component fluid-container"></div>
    </main>
</MainLayout>

<script lang="ts">
    const otherComponent = document.querySelector("header");

    const welcomeButton = document.getElementById("welcome-butoon");
    welcomeButton.addEventListener("click", onWelcomeButtonClick)

    function onWelcomeButtonClick(event) {
        event.preventDefault();
        otherComponent.scrollIntoView({ behavior: 'smooth' });
    }
</script>

<style lang="scss">
    main {
        // position: relative;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // gap: 1rem;


        .other-component {
            background-color: white;
            height: 100rem;
        }
    }
</style>
