---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Cadiz Resiste | Inicio">
    <main>
        <div class="mobile-frame">
            <p>Home</p>
        </div>
    </main>
</MainLayout>