---
import "../styles/common.scss";

import SectionsLayout from "../layouts/SectionsLayout.astro";
import Hero from "../components/Hero.astro";
---

<SectionsLayout title="Cadiz Resiste | Inicio">
    <main>
        <div class="mobile-frame">
            <Hero />
        </div>
    </main>
</SectionsLayout>
