---
import SectionsLayout from "../layouts/SectionsLayout.astro";
import Hero from "../components/Hero.astro";
---

<SectionsLayout title="Cadiz Resiste | Inicio">
    <main>
        <div class="mobile-frame">
            <Hero />
        </div>
    </main>
</SectionsLayout>

<style lang="scss">
    main {
        .mobile-frame {
            // border: 2px dotted yellow;
            max-width: 720px;
            margin: 0 auto;
            padding: 1rem;
        }
    }
</style>
