---
import Hero from "../components/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Cadiz Resiste | Inicio">
  <main>
    <div class="max-w-2xl mx-auto px-4">
      <Hero />
    </div>
  </main>
</MainLayout>
