---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Cadiz Resiste | Inicio">
	<main>
        <Hero />
        <section class="list">
            
        </section>
	</main>
</Layout>

<style is:global lang="scss">

    // pruebas
    section.list {
        height: 30rem;
        background-color: red;
    }
</style>
