---
import MapLayout from "../layouts/MapLayout.astro";
---

<MapLayout title="Cadiz Resiste | Map">
  <main
    class="flex flex-col h-screen bg-primary-500 text-white pt-20 px-4 md:px-8"
  >
    <div class="map-header max-w-2xl mx-auto flex flex-col">
      <h1 class="font-archivo font-extrabold text-4xl leading-tight mb-8">
        Mapa de VUTs y ATs
      </h1>
      <p class="text-white">
        (
        <span>Fuente:</span>
        <a
          href="https://www.juntadeandalucia.es/servicios/sede/tramites/procedimientos/detalle/6631.html"
          class="text-sm text-primary-100"
        >
          Registro de Turismo de Andalucía</a
        >
        )
      </p>
    </div>

    <!-- <div class="map-filters fluid-container">Filtros</div> -->
    <div class="map-container fluid-container flex-grow relative">
      <div class="map-wrapper absolute inset-0 p-4 box-border h-full min-h-max">
        <div id="map" class="z-0 h-[calc(100vh-400px)] w-full"></div>
      </div>
    </div>
  </main>
</MapLayout>

<script src="../scripts/map-script.ts"></script>
