---
import CadizSkyLineIcon from "./Icons/CadizSkyLineIcon.astro";
---

<div
  class="flex flex-col justify-center relative h-screen gap-4 bg-primary-green"
>
  <CadizSkyLineIcon />

  <div class="mt-10 flex flex-col items-center gap-6 text-center">
    <button id="welcome-butoon" class="w-full max-w-[400px] font-medium"
      >¡Conócenos!</button
    >
  </div>
</div>
