---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="bg-[#23262d] rounded-lg shadow-md transition-all duration-600 hover:bg-gradient-to-r from-[#4c1d95] to-[#8b5cf6]"
>
  <a
    href={href}
    class="block w-full text-white no-underline p-6 rounded-lg opacity-80 hover:opacity-100"
  >
    <h2 class="m-0 text-xl transition-colors duration-600">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-2 mb-0">
      {body}
    </p>
  </a>
</li>
