---
import EmailIcon from "./Icons/EmailIcon.astro";
import InstagramIcon from "./Icons/InstagramIcon.astro";
import FacebookIcon from "./Icons/FacebookIcon.astro";
import TwitterIcon from "./Icons/TwitterIcon.astro";
---

<div
  class="mb-16 flex flex-col items-center text-white gap-4 font-montserrat font-thin"
>
  <p class="text-xl font-bold">Encuéntranos en...</p>
  <div class="flex gap-2">
    <a href="https://instagram.com/cadiz.resiste">
      <InstagramIcon />
    </a>
    <a href="https://x.com/cadiz_resiste_">
      <TwitterIcon />
    </a>
    <a href="https://facebook.com/cadiz.resiste">
      <FacebookIcon />
    </a>
    <a href="mailto:hola@cadizresiste.org">
      <EmailIcon />
    </a>
  </div>
</div>
