---

---

<header class="fluid-container">
    <div class="header-title">
        <p>CÁDIZ RESISTE</p>
    </div>
    <div class="header-nav">
        <nav>
            <ul>
                <li>
                    <a href="/about">¿Quiénes somos?</a>
                </li>
                <li>
                    <a href="/contact">Contacto</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
        </nav>
    </div>
</header>


<style lang="scss">
    header {
        display: flex;
        // display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        height: 6.5rem;
        background: white;
        // border-bottom: 1px solid var(--primary-smoke);

        .header-title {
            font-family: ArchivoBlack;
            color: var(--primary-green);
            font-size: 1.2rem;
            white-space: nowrap;
        }

        .header-nav {
            nav {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;

                    li {
                        a {
                            font-size: 1rem;
                            color: var(--primary-gray);;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
</style>
