---
import LogoIcon from "./Icons/LogoIcon.astro";
---

<header>
    <div class="header-title">
        <p>Cádiz Resiste</p>
    </div>
    <div class="header-nav">
        <nav>
            <ul>
                <li>¿Quienes somos?</li>
                <li>Nuestra lucha</li>
                <li>Actividades y acciones</li>
            </ul>
        </nav>
    </div>
</header>

<style lang="scss">
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        padding: 1rem;
    }
</style>