---
import EmailIcon from "./Icons/EmailIcon.astro";
import InstagramIcon from "./Icons/InstagramIcon.astro";
import LogoIcon from "./Icons/LogoIcon.astro";
import TwitterIcon from "./Icons/TwitterIcon.astro";
---

<section class="hero animate__fadeIn">
    <div class="hero-title">NUESTRA CIUDAD NO SE VENDE.</div>

    <div class="hero-description">
        Acción ciudadana en Cádiz: Luchando por la dignidad de nuestrxs vecinxs y sus barrios.
    </div>

    <div class="hero-footer">
        <LogoIcon />
         <p>Encuéntranos en...</p>
        <div class="social-media">
            <a href="https://instagram.com/cadiz.resiste">
                <InstagramIcon />
            </a>
            <a href="https://x.com/cadiz_resiste_">
                <TwitterIcon />
            </a>
            <a href="mailto:hola@cadizresiste.org">
                <EmailIcon />
            </a>
        </div>

    </div>
</section>

<style lang="scss">
    section.hero {
        min-height: 100vh;
        padding-top: 5rem;

        display: flex;
        flex-direction: column;
        gap: 2.25rem;
        animation-duration: 2s;

        .hero-title {
            // font-family: KosticRocGrotesk;
            font-family: ArchivoBlack;
            display: flex;
            font-size: 3.95rem;
            font-size: clamp(3.65rem, -0.725rem + 17.5vw, 5.7rem);
            line-height: clamp(3.75rem, 0.956rem + 11.765vw, 6.25rem);
        }

        .hero-description {
            font-family: Montserrat;
            font-weight: 500;
            font-size: clamp(1.085rem, -0.218rem + 4.706vw, 1.9rem);
        }

        .hero-footer {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            font-family: Montserrat;
            font-weight: 200;

            .social-media {
                display: flex;
                gap: 0.5rem;
            }
        }

        .hero-coming-soon {
            flex-grow: 1;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            padding-bottom: 10rem;
        }
    }
</style>
