---

---

<section class="bg-primary-500 pt-20 flex flex-col gap-11">
  <div
    class="text-white font-kostic text-[clamp(3.65rem,_-0.725rem_+_17.5vw,_5.7rem)] leading-[clamp(3.75rem,_0.956rem_+_11.765vw,_6.25rem)]"
  >
    NUESTRA CIUDAD NO SE VENDE.
  </div>

  <div
    class="text-white font-montserrat font-medium text-[clamp(1.085rem,_-0.218rem_+_4.706vw,_1.9rem)]"
  >
    Colectivo gaditano de resistencia. <br />
    Somos torrente, somos levantera de las buenas 💪
  </div>
</section>
