<section class="hero">

</section>

<style lang="scss">
    section.hero {
        min-height: 100vh;
        background-color: var(--background-green-color);
        color: var(--background-text-color);
    }
</style>
