---
import Header from "../components/Header.astro";
import "../styles/common.scss";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Cádiz Resiste | Web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>{title}</title>

		<style>
			/* .post-card-list article b {font-weight: 400;} */
		</style>
	</head>
	<body>
        <header>
            <div class="mobile-frame mobile-frame-header">
                <Header />
            </div>
        </header>

		<slot />
	</body>
</html>

 <!-- is:global: little trick to style bold marks on postcard.astro :) -->
<style is:global lang="scss">
	body {
		background-color: white;
		color: var(--backgorund-text-color);
		min-height: 100vh;
    }

	// little trick to style bold marks on postcard.astro :)
	.post-card-list article b {font-weight: 400;}
</style>