---
import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>{title}</title>
	</head>
	<body>
		<!-- <Header /> -->

		<!-- SectionsLayout -->
		<slot />
		<!-- SectionsLayout -->

		<!-- <Footer /> -->
	</body>
</html>
<style is:global lang="scss">
	:root {

		// Fonts families
		@font-face {
			font-family: "KosticRocGrotesk";
			src: url("/fonts/KosticRocGrotesk.otf") format("opentype");
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: "Montserrat";
			src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
			font-weight: 200;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: "Montserrat";
			src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
			font-weight: 500;
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: "Montserrat";
			src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
			font-weight: 400;
			font-style: normal;
			font-display: swap;
		}

		// <--- Variables --->

		// Colors
		--background-green-color: #076633;
		--background-text-color: #fff;
		--backgorund-text-color: #494949;

		// Fonts
		--hero-font: KosticRocGrotesk;
		--hero-description-font: Montserrat;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--background-green-color);
		color: var(--text-color);
	}

	ul {
		list-style: none;
	}

</style>
